@import url(https://fonts.googleapis.com/css?family=Zilla+Slab);
body {
	background-image: url("../../images/background.png");
	background-size: 100%;
	font-family: 'Zilla Slab', sans-serif;
	font-weight: 600;
	>div {
		&:nth-of-type(1) {
			margin-top: 30px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			justify-content: space-between;
			>nav {
				margin-top: auto;
				margin-bottom: auto;
				>a {
					margin-left: 10px;
					font-weight: 600;
					background-color: white;
					font-size: 15pt;
					color: black;
					text-decoration: none;
					padding: 20px 30px 20px 30px;
					border-radius: 25px;
					box-shadow: 0px 0px 10px lightgrey;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			>h1 {
				font-size: 35pt;
				width: 50%;
				margin-top: 30px;
				margin-bottom: 30px;
				>a {
					color: black;
					text-decoration: none;
				}
			}
		}
		&:nth-of-type(2) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
			width: 80%;
			padding: 20px 50px 50px 50px;
			background-color: white;
			border-radius: 25px;
			box-shadow: 0px 0px 10px lightgrey;
			>p {
				text-align: center;
				font-size: 14pt;
				padding-left: 20%;
				padding-right: 20%;
				margin-top: 50px;
				margin-bottom: 50px;
				line-height: 16pt;
				font-weight: 500;
			}
			>h2 {
				font-size: 20pt;
				margin-top: 30px;
			}
			>a {
				color: black;
				text-decoration: none;
				font-size: 30pt;
				height: 50px;
				transition: all 1s;
				&:hover {
					color: lightgrey;
				}
			}
			>ul {
				font-weight: 500;
				width: 40%;
				list-style-type: disc;
				>li {
					&:first-of-type {
						list-style-type: none;
						margin-bottom: 25px;
						margin-top: 15px;
					}
					>h2 {
						font-size: 20pt;
						font-weight: 600;
					}
				}
			}
			>div {
				width: 17%;
				margin-left: 20px;
				margin-right: 20px;
				background-color: whitesmoke;
				margin-top: 40px;
				padding: 15px 15px 15px 15px;
				border-radius: 25px;
				box-shadow: 0px 0px 10px lightgrey;
				&:hover {
					background-color: lightyellow;
					box-shadow: 0px 0px 10px lightgrey;
				}
			}
		}
		>div {
			>div {
				width: 100%;
				text-align: center;
				>a {
					>img {
						height: 100px;
					}
				}
			}
			>p {
				text-align: center;
				width: 100%;
				>a {
					color: black;
					text-decoration: none;
					font-weight: 600;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
em {
	color: grey;
	font-style: normal;
}
footer {
	text-align: center;
	margin-bottom: 10px;
}
